DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'zetaboardsbackup',
        'USER': 'zetaboardsbackup',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}
